{% if is_preview %}
    <p style="color:#ccc;font-size:14px;">--- Seed Block ---</p>
{% endif %}

<div id="seed-{{ block.id }}">
    <h2>{{ fields.title }}</h2>
    <p>{{ fields.description }}</p>
</div>
<style type="text/css">
    #seed-{{ block.id }} {
        background: {{ fields.background_color }};
        color: {{ fields.text_color }};
    }
</style>